*{  
    padding: 0;
    margin: 0;
}
body{
 font-family: "Young Serif", serif;
  }
  .navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 0;
  }
  .navbar__s1__title{
    color: darkmagenta;
  }
  .navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .navbar__s2 input{
    border: none;
    font-size: 16px;
  }
  .navbar__s2 input:focus{
    outline: none;
  }
  
  .navbar__s3{
    display: flex;
    gap: 10px;
  }
  .navbar__s4{
    left: 0;
  }
  .learn__1{
    border: solid black 1px;
    display: none;
  }
  .learn:hover .learn__1{
    display: block;
  }
  .navbar__s4{
    display: none;
  }
  .categories{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border: solid black 1px;
  }
  .categories p{
    background-color:blueviolet;
    color: white;
    padding: 10px;
    border-radius: 30px;
  }
  .categories p:hover{
    background-color: darkmagenta;
  }
  .sale-image{
    width: 80%;
    position: relative;
  }
  .img{
    border: solid black 2px;
    position: absolute;
    bottom: 250px;
    width: 200px;
    height: 70px;
    left: 200px;
    background-color: white;
    animation-name: afra;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes afra{
    0%{
      transform: scale(0);
      opacity: 0;
    }
    100%{
      transform: scale(1);
      opacity: 1;
    }
  }
  .recommended{
    padding: 10px;
  }
  .recommended__container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
  }
  .course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    
  }
  
  
  .topics{
    padding: 10px;
  }
.topics__container{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.topics__container p{
  border: solid grey 2px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
}
.popular{
  padding: 10px;
}
.popular__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  flex-basis: 25%;
}
.footer{
  background-color: black;
  color: white;
  margin-top: 10px;
  padding: 30px;
  width: 100%;

}
.footer__1{
  display: flex;
  gap: 30px;
}
.footer__1 p{
  margin: 20px;
}
.footer__2{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
@media screen and (max-width:600px) {
  .navbar__s2,.navbar__s3{
    display: none;
  }
  .navbar__s4{
    display: block;
  }
  body{
    font-size: 12px;
  }
  .course-card{
    flex-basis: 40%;
    margin: 2px;
  }
  .course-card img{
    width: 210px;
    height: 200px;
  }
  .sale-image img{
    width: 600px;
    position: relative;
  }
  .img{
    width: 100px;
    height: 50px;
    bottom: 400px;
    left: 20%;
    position: absolute;
  }
  .categories{
    display: none;
  }
  
}
  


  


  
  

 